<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오운완</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="form-wrapper">
      <h2>로그인</h2>
      <form action="/sign-in" method="POST">
        <div class="form-control">
          <input type="text" id="user_id" name="email" required />
          <label for="user_id">이메일 주소</label>
        </div>
        <div class="form-control">
          <input type="password" id="pw" name="password" required />
          <label for="pw">비밀번호</label>
        </div>
        <button type="submit" id="loginButton">로그인</button>
        <div class="form-help">
          
        <div>
        <a style="display: flex;
                flex-direction: column-reverse;" id="google-login-btn" href="/google/login">
          <img
            src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99C1FC375C3D83C921"
            width="100%" height="39px" alt="구글 로그인 버튼" />
        </a>
      </div>
      <div class="button-list">
        <a style="display: flex;
                flex-direction: column-reverse;" id="kakao-login-btn" href="/oauth">
          <img
            src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F996E15375C3D83CA20"
            width="100%" height="39px" alt="카카오 로그인 버튼" />
        </a>
      </div>
          <div class="help-link">
            <a href="/help">도움이 필요하신가요?</a>
          </div>
        </div>
      </form>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">알림</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= message %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>
          </div>
        </div>
      </div>
    </div>


    <% if (message.length > 0) { %>
      <script>
        $(document).ready(function() {
          $('#myModal').modal('show');
        });
      </script>
    <% } %>
    </body>
  </html>

