<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>이메일 인증</title>
  <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>
  <div class="form-wrapper">
    <h2>이메일 인증</h2>
    <form action="/user-sign-up/verify?_method=PUT" method="post">
      <div class="form-control">
        <input type="text" id="email" name="email" required />
        <label for="email">이메일 주소(필수)</label>
      </div>
      <div class="form-control">
        <input type="text" id="verifiedusertoken" name="verifiedusertoken" required />
        <label for="verifiedusertoken">인증번호(필수)</label>
      </div>
      <div class="form-control">
        <input type="checkbox" id="terms" name="terms" required />
        <label for="terms">이용약관에 동의합니다(필수)</label>
      </div>
      <button type="submit">인증하기</button>
    </form>
  </div>
</body>
</html>
